<ion-content padding>
  <h1 text-center >
    <ion-icon name="done-all" color="primary" class="icon-7em"></ion-icon>
  </h1>

  <form [formGroup]="form" (submit)="onSubmit(authProviders.Email)">

    <ng-container *ngIf="!config.isSingin">
      <ion-item>
        <ion-icon name="person" color="primary" slot="start"></ion-icon>
        <ion-input type="text" placehold="Name" formControlName="name"></ion-input>

        <!-- msg -->
        <ion-note slot="end" color="danger" *ngIf="name.dirty && name.hasError('required')">Required</ion-note>
        <ion-note slot="end" color="danger" *ngIf="name.dirty && name.hasError('minlength')">Min 3 caracter</ion-note>
      </ion-item>
    </ng-container>

  <ion-item>
    <ion-icon name="mail" color="primary" slot="start"></ion-icon>
    <ion-input type="email" placehold="Email" inputmode="email" autofocus="true" formControlName="email"></ion-input>

    <!-- msg -->
    <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('required')">Required</ion-note>
    <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('email')">Pattern</ion-note>

  </ion-item>

  <ion-item>
    <ion-icon name="lock" color="primary" slot="start"></ion-icon>
    <ion-input type="password" placehold="Password" formControlName="password"></ion-input>

    <!-- msg -->
    <ion-note slot="end" color="danger" *ngIf="password.dirty && password.hasError('required')">Required</ion-note>
    <ion-note slot="end" color="danger" *ngIf="password.dirty && password.hasError('minlength')">Min 6 caracter</ion-note>
  </ion-item>

    <ion-button expand="block" type="submit" [disabled]="form.invalid"> {{ config.action }} </ion-button>

  </form>


    <ion-button expand="block" fill="clear" (click)="changeAuthAction()"> {{ config.actionChange }} </ion-button>
    <ion-button expand="block" (click)="onSubmit(authProviders.Facebook)">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      Login with Facebook
    </ion-button>

</ion-content>
